@use '@angular/material' as mat;
@use '../../styles/theme.scss' as custom-theme;

$theme: custom-theme.$dark-theme;

.primary-card {
  background-color: mat.get-theme-color($theme, primary, 90); // Very light purple
  color: mat.get-theme-color($theme, primary, 10); // Very dark purple
}

.message-user {
  background-color: mat.get-theme-color($theme, secondary, 90);
  color: mat.get-theme-color($theme, secondary, 10);
}

.message-bot {
  background-color: mat.get-theme-color($theme, tertiary, 70);
  color: mat.get-theme-color($theme, tertiary, 10);
}
